{% extends 'base.html.twig' %}

{% block title %}Maudule-Studio-Account{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/style/Account.css">
{% endblock %}

{% block body %}
    <section class="auth-page">
        <div class="auth-card">
            <h1>Welcome</h1>
            <p class="auth-subtitle">
                Create an account for a personalized experience! If you already have an account, simply log in. Otherwise, sign up to enjoy exclusive benefits: create your own listings, access your favorites, and enjoy a tailored browsing experience.
            </p>
            <div class="auth-links">
                <a href="{{ path('app_login') }}" class="btn-login">Log in</a>
                <a href="{{ path('app_register') }}" class="btn-signup">Sign up</a>
            </div>
        </div>
    </section>
{% endblock %}
